# Algod Instance
export VUE_APP_ALGOD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export VUE_APP_ALGOD_ADDR="127.0.0.1:4001"
export VUE_APP_ALGOD_SERVER="http://localhost"
export VUE_APP_ALGOD_PORT=4001

# KMD Instance
export VUE_APP_KMD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export VUE_APP_KMD_ADDR="127.0.0.1:4002"
export VUE_APP_KMD_SERVER="http://localhost"
export VUE_APP_KMD_PORT=4002

# Indexer Instance
export VUE_APP_INDEXER_TOKEN=""
export VUE_APP_INDEXER_ADDR="127.0.0.1:8980"
export VUE_APP_INDEXER_SERVER="http://localhost"
export VUE_APP_INDEXER_PORT=8980

# CREATOR
export VUE_APP_CREATOR_ADDR=
export VUE_APP_CREATOR_MNEMONIC=

# ACC1
export VUE_APP_TEAM_ADDR=
export VUE_APP_TEAM_MNEMONIC=

# ACC2
export VUE_APP_ADVISORS_ADDR=
export VUE_APP_ADVISORS_MNEMONIC=

# ACC3
export VUE_APP_PRIVATE_INVESTORS_ADDR=
export VUE_APP_PRIVATE_INVESTORS_MNEMONIC=

# ACC4
export VUE_APP_COMPANY_RESERVES_ADDR=
export VUE_APP_COMPANY_RESERVES_MNEMONIC=

# TestNet Algod (Algoexplorer API)
export VUE_APP_ALGOD_TOKEN_TESTNET='{ "X-API-Key": "" }'
export VUE_APP_ALGOD_ADDR_TESTNET="https://testnet-algorand.api.purestake.io/ps2"
export VUE_APP_ALGOD_SERVER_TESTNET="https://testnet-algorand.api.purestake.io/ps2"
export VUE_APP_ALGOD_PORT_TESTNET=""

export VUE_APP_ADDR_CREATOR_TESTNET=
export VUE_APP_MNEMONIC_CREATOR_TESTNET=

export VUE_APP_ADDR_TEAM_TESTNET=
export VUE_APP_MNEMONIC_TEAM_TESTNET=

export VUE_APP_ADDR_ADVISORS_TESTNET=
export VUE_APP_MNEMONIC_ADVISORS_TESTNET=

export VUE_APP_ADDR_PRIVATEINVESTORS_TESTNET=
export VUE_APP_MNEMONIC_PRIVATEINVESTORS_TESTNET=

export VUE_APP_ADDR_COMPANY_RESERVES_TESTNET=
export VUE_APP_MNEMONIC_COMPANY_RESERVES_TESTNET=